html, body {
    height: 100%;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 1000;
    overflow: auto;
    background: rgb(0, 124, 199);
    background: linear-gradient(183deg, rgba(0, 124, 199, 1) 0%, rgb(0 77 199) 50%, rgba(0, 49, 146, 1) 100%);
}

.inputBlock {
    pointer-events: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.fixed-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 272px;
    z-index: 1030;
}

/* width */
#sidebar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0076c7;
    border-radius: 10px;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
    background: #0926f3;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    .fixed-topnav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    /*#content.active {*/
    /*    margin-left: 17rem;*/
    /*    width: calc(100% - 17rem);*/
    /*}*/
}

/*shift sytle*/

.Shiftmodelfooter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center !important;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.shiftmoderheader {
    background: #F9F9F9;
    border-bottom: 1px solid #999999;
}

.list-group-item-shift-secondary {
    color: #383d41;
    background-color: #F9F9F9;
}

.btn-add-primary {
    color: #fff;
    background-color: #006FBE;
    border-color: #006FBE;
}

.btn-add-primary:hover {
    color: #003A98;
    background-color: #fff;
    border-color: #003A98;
}

.btn-outline-add-primary {
    color: #003A98;
    background-color: #fff;
    border-color: #003A98;
}

.btn-outline-add-primary:hover {
    color: #fff;
    background-color: #003A98;
    border-color: #003A98;
}

.btn-edit-primary {
    color: #fff;
    background-color: #C41300;
    border-color: #C41300;
}
.btn-edit-primary:hover {
    color: #C41300;
    background-color: #ffffff;
    border-color: #C41300;
}

.btn-outline-edit {
    color: #C41300;
    background-color: #ffffff;
    border-color: #C41300;
}

.btn-outline-edit:hover {
    color: #fff;
    background-color: #C41300;
    border-color: #C41300;
}

.btn-outline-img{
    background-color: #ffffff;
    color: #FF5733;
    border: 1px solid #FF5733;
}

.btn-outline-img:hover{
    background-color: #FF5733;
    color: #ffffff;
    border: 1px solid #FF5733;
}

.custom_footer{
    background: #f3f3f3;
}

.shift_table_icon_pen {
    color: #7D5AC3 !important;
}

.shift_table_icon_trash {
    color: #D42428 !important;
}

thead.thead-light.Shift_thead th {
    font-weight: 600 !important;
}


.view {
    border-style: hidden;
    background: #3a996f;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.edit {
    border-style: hidden;
    background: #f29b0b;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.delete {
    border-style: hidden;
    background: #d94d35;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

/*side bar nav css*/
.nav_border_style {
    border-bottom: 1px solid #3796d869;
}

.nav_border_style_logo {
    border-bottom: 1px solid #3796d869;
}

.nav_border_style:hover {
    border-bottom: 1px solid #3796d869;
    background: #00246B;
    color: white !important;
}

.button_side_nav {
    color: #fff;
    background-color: #003a98;
    border-color: #003a98;
    border-radius: 5px !important;
}

.button_side_nav:hover {
    color: #0f75bd;
    background-color: #fff;
    border-color: #0f75bd;
    border-radius: 5px !important;
}

/*header nav css*/

.w-55 {
    width: 55% !important;
}

.w-35 {
    width: 35% !important;
}

.navbar {

    flex-wrap: nowrap !important;

}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-right: -1rem !important;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.shadow {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 23%) !important;
}

.header_style {
    font-size: 17px;
}

@media (max-width: 425px) {
    .w-55 {
        width: 80% !important;
    }

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        /*width: 257px !important;*/
    }
}

@media (max-width: 768px) {

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        /*width: 175px !important;*/
    }
    .login_card{
        background-color: inherit !important;
        border: 2px solid rgb(255 255 255) !important;
        position: inherit;
        top: 50px;
    }
}

/*user image*/
.user_img {
    width: 40px !important;
    height: 40px !important;
}

/*Employee css*/
.title_hr {
    border-top: 2px solid rgb(0 0 0 / 52%) !important;
}

.bg-emp-title {
    background: #b9b9b9;
}

/*select two*/
/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: #444;*/
/*    line-height: 34px !important;*/
/*}*/

/*.select2-container .select2-selection--single {*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    height: 38px !important;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*}*/

/*.select2-container--default .select2-selection--single .select2-selection__arrow {*/
/*    height: 36px !important;*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    right: 1px;*/
/*    width: 20px;*/
/*}*/

/*.select2-container {*/
/*    box-sizing: border-box;*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    width: 100% !important;*/
/*}*/
.btnPrimaryCustomizeBlue {
    background-color: #0F75BD;
    color: white;
}

.btnPrimaryCustomizeBlueOutline {
    border: 1px solid #0F75BD;
    color: #0F75BD;
}

td {
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
}

.editicons {
    color: #7D5AC3;
    font-size: 15px;
}

/*loader*/
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen {
    background-color: #b1b1b124;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    cursor: none;
}

/*.spinner {*/
/*    width: var(--spinner-size, 120px) !important;*/
/*    height: var(--spinner-size, 120px) !important;*/
/*    background: linear-gradient(180deg, #0095ff 0%, rgba(0, 0, 0, 0.1) 25%);*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: end;*/
/*    animation: spin 1s cubic-bezier(.52,.1,.27,.87) infinite;*/
/*    position: relative;*/
/*}*/
/*.spinner::after {*/
/*    content: "";*/
/*    width: calc(100% - 4px);*/
/*    height: calc(100% - 4px);*/
/*    border-radius: 50%;*/
/*    background: var(--loading-screen-background, #000000);*/
/*    z-index: 01;*/
/*}*/

.spinner-container img {
    height: calc(var(--spinner-size, 110px) / 100 * 75);
    width: calc(var(--spinner-size, 110px) / 100 * 75);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 02;
    object-position: center;
}

.loading-screen p {
    font-family: var(--font-family, sans-serif);
    color: var(--text-color, white);
    opacity: .5;
    font-weight: 300;
}

/*@keyframes spin {*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

:root {
    --duration: 0.5s;
    --timing-function: cubic-bezier(0.71, 0.16, 0.89, 0.43)
}

/*.main {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/
/*.wrapper {*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    !* border-bottom: 1px solid #5e5e5e;*/
/*        box-shadow: 0 28px 30px -18px grey; *!*/
/*}*/
.first {
    width: 3rem;
    height: 3rem;
    /*background-image: repeating-linear-gradient(360deg, #5e5c5d, #ffffff 53px);*/
    border-radius: 50%;
    animation: updown var(--duration) var(--timing-function) 0s infinite alternate both running;
}

.bol {
    position: absolute;
    bottom: -1.8rem;
    width: 4rem;
    height: 0.5rem;
    background-color: #000;
    border-radius: 50%;
    animation: adjustWidth var(--duration) var(--timing-function) 0s infinite alternate both running;
}

@keyframes adjustWidth {
    from {
        width: 1rem;
        background-color: #3e3e3e;
    }
}

@keyframes updown {
    from {
        transform: translateY(-24px);
    }
    to {
        transform: translateY(24px);
    }
}

/*data table*/

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 40px !important;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.dataTables_wrapper .dataTables_length select {
    border: 0px solid #aaa;
    border-radius: 40px !important;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-size: 14px;
    font-weight: 500;
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {*/
/*    color: #fff !important;*/
/*    border: 1px solid rgb(15 117 189) !important;*/
/*    background-color: rgba(230, 230, 230, 0.1);*/
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));*/
/*    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
/*    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
/*    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
/*    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
/*    background: linear-gradient(to bottom, rgb(15 117 189) 0%, rgb(15 117 189) 100%) !important;*/
/*}*/


/*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
/*    box-sizing: border-box;*/
/*    display: inline-block;*/
/*    min-width: 1.5em;*/
/*    padding: 0.5em 1em;*/
/*    margin-left: 2px;*/
/*    text-align: center;*/
/*    text-decoration: none !important;*/
/*    cursor: pointer;*/
/*    color: #fff !important;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 30px !important;*/
/*}*/

label{
    /*font-size: 15px;*/
    font-weight: 500;
}

.view_customer{
    font-size: 15px;
}

.view_card{
    border-radius: 8px;
}

.investment_bg{
    border-radius: 6px;
    background-color: #173F5F;
    border: 1px solid #173F5F;
    color: white;
}

.dashBoardBox1{
    border-radius: 6px;
    background-color: #A8E6CF;
    border: 1px solid #A8E6CF;
    color: #131313;
}

.dashBoardBox2{
    border-radius: 6px;
    background-color: #DCEDC1;
    border: 1px solid #DCEDC1;
    color: #131313;
}

.dashBoardBox3{
    border-radius: 6px;
    background-color: #FFD3B6;
    border: 1px solid #FFD3B6;
    color: #131313;
}

.dashBoardBox4{
    border-radius: 6px;
    background-color: #FFAAA5;
    border: 1px solid #FFAAA5;
    color: #131313;
}

.Person5_bg{
    border-radius: 6px;
    background-color: #301304;
    border: 1px solid #301304;
    color: white;
}

.Person6_bg{
    border-radius: 6px;
    background-color: #56b64a;
    border: 1px solid #56b64a;
    color: white;
}

.Person7_bg{
    border-radius: 6px;
    background-color: #5d2364;
    border: 1px solid #5d2364;
    color: white;
}

.Person8_bg{
    border-radius: 6px;
    background-color: #806012;
    border: 1px solid #806012;
    color: white;
}

.Person9_bg{
    border-radius: 6px;
    background-color: #cad536;
    border: 1px solid #cad536;
    color: white;
}

.Person10_bg{
    border-radius: 6px;
    background-color: #232d20;
    border: 1px solid #232d20;
    color: white;
}

.Current_bg{
    border-radius: 6px;
    background-color: #FF5733;
    border: 1px solid #FF5733;
    color: white;
}

.Income_bg{
    border-radius: 6px;
    background-color: #2486BB;
    border: 1px solid #2486BB;
    color: white;
}
.customMargin{
    margin: 0px 0px;
}

@media screen and (max-width: 1199px) and (min-width: 0px) {
    .customMargin{
        margin: 14px 0px;
    }
}
.monthlymoderheader{
    background: #F9F9F9;
    border-bottom: 1px solid #99999917;
}
.font-weight-bold-custom{
    font-weight: 600;
}
.custom-table-font tr th {
    text-align: center;
}
.custom-table-font tr td {
    font-size: 14px;
    text-align: center;
}


table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #ddd !important;
    background: #f9f9f9 !important;
}

/*.adjustWidth .col-xl-3{*/
/*    max-width: 20%;*/
/*}*/
/*@media (min-width: 1200px){*/
/*    .adjustWidth .col-xl-3 {*/
/*        -ms-flex: 0 0 25%;*/
/*        flex: 0 0 25%;*/
/*        max-width: 20%!important;*/
/*    }*/
/*}*/

.bg-warning-custom{
    background-color: #007A2D;
}

.btn-primary-custom{
    border: 1px solid #006FBE;
    color: #006FBE;
}
.btn-warning-custom{
border: 1px solid #FF9F00;
    color: #FF9F00;
}
.btn-add-warning{
 background-color: #FF9F00;
    color: white;
}
.btn-view-report{
    background-color: #D94D35;
    color: white;
}

.mlt-select button {
    border: 1px solid #ced4d4 !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #1d1d1d !important;
}


